.redBorder{ border: 5px solid red; }

.purpleBorder { border: 5px solid purple; }

.orangeBorder { border: 5px solid orange; }

.blueBorder { border: 5px solid blue; }

.greenBorder { border: 5px solid green; }